---
import dayjs from "dayjs";
import type { DataType } from "../../db/schema";
import { parseCurrency } from "./InputForm";

interface Props {
    title: string;
    value: number;
    lastTransaction?: {
        note?: string;
        date: number;
        kategori: string;
        money: number;
        arah: string;
    };
    ref?: DataType;
}

const { title, value, lastTransaction } = Astro.props;
let date = new Date();
if (lastTransaction) date = new Date(lastTransaction.date);
const monthParams = `month=${date.getMonth() + 1}&year=${date.getFullYear()}`;
---

<div class="w-full rounded-md border p-2">
    <div class="flex justify-between">
        <div>
            <div>{title}</div>
            <div class="text-xl font-bold">{parseCurrency(value)}</div>
        </div>
        <button class="h-5">{">"}</button>
    </div>
    <div class="pb-1 pt-4">transaksi terakhir:</div>
    {lastTransaction && (
    <a
        href={`/view/transactions?${monthParams}`}
        class=`${lastTransaction.arah === "masuk" ? "" : "text-red-700"}`
    >
        <div class="flex w-full items-center justify-between">
            <div>
                <div class="text-lg font-semibold">{lastTransaction.note}</div>
                <div class="flex gap-2">
                    <div>{dayjs(lastTransaction.date).format("DD MMM")}</div>
                    <div>{lastTransaction.kategori}</div>
                </div>
            </div>
            <div>
                <div class="text-lg font-semibold">
                    {lastTransaction.arah === "masuk" ? "" : "-"}
                    {parseCurrency(lastTransaction.money)}
                </div>
            </div>
        </div>
    </a>
    )
    }
</div>
